*{
    margin: 0;
    padding: 0;
    font-family: Gilroy;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fdc26a;
}

#panel{
    overflow: hidden;
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
}

#ptop{
    padding: 0px 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 100px;
    width: 100%;
    background-color: #e08a09;
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-weight: 500;
    font-size: 22px;
}

.box{
    color: #a56005;
    font-weight: 700;
    font-size: 22px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}

#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: #d48309;
    font-weight: 500;
}

.bubble:hover{
    cursor: pointer;
    background-color: #a06102;
}

@media (max-width:600px) {
    
    
}